* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
  }
  
  .header {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
  }